extends layout

block content
    
    include blocks/header

    <main role="main" class="flex-shrink-0">
        <div class="container">
            
            
            <p>Profile</p>


        </div>
    </main>